@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    margin: -10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    background-color: red;
}